version: '3'
services:
  msxdev:
    build: .
    image: devmsx
    ports: 
      - 5901:5901
    environment:
      - PULSE_SERVER=docker.for.mac.localhost
    volumes:
      - type: bind
        source: ~/.config/pulse
        target: /home/msx/.config/pulse
      - type: bind
        source: /Users/shinsuke/work/msx
        target: /home/msx/devmsx
