version: '3'
services:
  msxdev:
    build: .
    image: devmsx
    ports: 
      - 5901:5901
    environment:
      - PULSE_SERVER=docker.for.mac.localhost
    volumes:
      - type: bind
        source: ~/.config/pulse
        target: /home/msx/.config/pulse
#      - type: bind
#        source: ./dot_config/clipit
#        target: /home/msx/.config/clipit
      - type: bind
        source: ./dot_config/lxterminal
        target: /home/msx/.config/lxterminal
      - type: bind
        source: ./dot_config/lxpanel
        target: /home/msx/.config/lxpanel
      - type: bind
        source: ./dot_config/pcmanfm
        target: /home/msx/.config/pcmanfm
      - type: bind
        source: ./dot_mame
        target: /home/msx/.mame
      - type: bind
        source: /Users/shinsuke/work/msx
        target: /home/msx/devmsx
